@charset "utf-8";
*{font-family: "Microsoft YaHei","lucida Grande",Verdana;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;box-sizing: border-box;padding: 0; margin: 0;font-size:16px;}
strong {font-weight: bold;}
i{font-style: italic;}
ul, ol {list-style: none;}
body {background-color:#eee;color:#000;}
input, select, textarea{font-family: "Microsoft YaHei","lucida Grande",Verdana;}
input, select {vertical-align: middle;}
textarea{vertical-align: top;}
a {outline: none;cursor: pointer;color: #428bca;;}
a:link, a:visited, a:active {text-decoration: none;}
a:hover {text-decoration: none;}
img{ border:none;vertical-align: middle;}
hr{margin: 0;}
article, aside, dialog, footer, header, section, nav, figure, menu {display:block;}
.fl{float: left;}
.fr{float: right;}
.cl{clear: both;}
.top{width:100%;}
.top_banner img{width:100%;}
.main{background-color: #fff;width: 100%;}
.main_list{padding: 30px 0 30px 3%;text-align:center;}
.main_item{display: inline-block;width: 48%;margin-bottom:20px;}
.main_item img{width:85%;}
.foot{width: 100%;background: #fff;height: 65px;overflow:hidden;position:fixed;bottom: 0;left: 0;}
.foot_list{padding: 5px 0 0;}
.foot_item{display: inline-block;width: 48%;text-align: center;}
.foot_item img{height: 55px;}
.page_content{padding: 2%;}
.dataform{}
.dataform .layui-input-block{margin-left: 0}
.dataform .layui-form-item{margin-bottom: 8px;}
.dataform .layui-form-label{width: 100%;text-align: left;padding-left:0;}