{extend name="layout/main" /}
{block name="title"}管理后台--修改banner{/block}
{block name="main"}
<body class="index">
    <div class="setting_form">
        <form class='dataform layui-form' enctype="multipart/form-data" method="post" id='goodsform'>
            <table class="layui-table">
                <tr>
                    <td class='td_right'><label class="layui-form-label">选择校区<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <select name="school_id" class='school_id'>
                                <option value='0'>请选择校区</option>
                                {volist name='school_list' id='vo'}
                                <option value='{$vo.id}' {if $info['school_id']==$vo['id']}selected='selected'{/if}>{$vo.title}</option>
                                {/volist}
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">banner位置<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <select name="position" class='position'>
                                {volist name='position' id='vo'}
                                <option value="{$vo.id}" {if $vo['id']==$info['position']}selected='selected'{/if}>{$vo.title}</option>
                                {/volist}
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">banner标题<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='title' id="title" placeholder="banner标题" autocomplete="off" class="layui-input title" value='{$info.title}' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">banner图片<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block" style='position:relative;'>
                            <button type="button" class="layui-btn">
                                <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                            <input type="file" name="img" id="img" class="layui-btn shoplogo_file img" accept="image/gif,image/jpeg,image/jpg,image/png" />
                            <div class='preimg_content'>{if $info['img']!=''}<a href="{$info.img}" target="_blank"><img class="layui-upload-img" src="{$info.img}" id="preimg_view"></a>{else /}<img class="layui-upload-img" id="preimg_view">{/if}</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">跳转类型<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="radio" name="type" class='bannertype' lay-filter="showlink" value="1" title="无跳转" {if $info['type']==1}checked{/if}>
                            <input type="radio" name="type" class='bannertype' lay-filter="showlink" value="2" title="小程序" {if $info['type']==2}checked{/if}>
                            <input type="radio" name="type" class='bannertype' lay-filter="showlink" value="3" title="网页" {if $info['type']==3}checked{/if}>
                        </div>
                    </td>
                </tr>
                <tr class='linkurl_tr' {if $info['type']==1}style='display:none;'{else /}style='display:table-row;'{/if}>
                    <td class='td_right'><label class="layui-form-label">跳转链接</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='linkurl' id="linkurl" placeholder="跳转链接" autocomplete="off" class="layui-input linkurl" value='{$info.linkurl}' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">是否显示<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="radio" name="isshow" value="1" title="是" {if $info['isshow']==1}checked{/if}>
                            <input type="radio" name="isshow" value="2" title="否" {if $info['isshow']==2}checked{/if}>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">排序</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="number" name='sortby' id="sortby" placeholder="banner排序" autocomplete="off" class="layui-input sortby" value='{$info.sortby}' />
                        </div>
                        <span class='inputnote_span'>(排序值越大排在越前)</span>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: center">
                        <div class="layui-input-block">
                            <input type="hidden" name="bannerid" value='{$info.id}' />
                            <button class="layui-btn" lay-submit lay-filter="savedata_editbtn" id='savedata_editbtn'>提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
{/block}
{block name="footer"}
    {include file='banner/banner_footer' /}
{/block}