{extend name="layout/main" /}
{block name="title"}管理后台--添加管理员{/block}
{block name="main"}
<body class="index">
    <div class="setting_form">
        <form class='layui-form dataform' enctype="multipart/form-data" method="post" id='goodsform'>
            <table class="layui-table">
                <tr>
                    <td class='td_right'><label class="layui-form-label">选择校区</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <select name='school_id' class='school_id' lay-search>
                                <option value='0'>平台</option>
                                {volist name='school_list' id='vo'}
                                <option value='{$vo.id}'>{$vo.title}</option>
                                {/volist}
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">选择角色</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <select name='roleid' class='roleid'>
                                <option value='0'>选择角色</option>
                                {volist name='rolist' id='vo'}
                                <option value='{$vo.id}'>{$vo.title}</option>
                                {/volist}
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">管理员账号<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='username' id="username" placeholder="管理员账号" autocomplete="off" class="layui-input username" value='' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">管理员密码<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="password" name='userpassword' id="userpassword" placeholder="管理员密码" autocomplete="off" class="layui-input userpassword" value='' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">联系方式</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='mobile' id="mobile" placeholder="联系方式" autocomplete="off" class="layui-input mobile" value='' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">是否启用</label></td>
                    <td class='td_left'>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input type="radio" name="status" class='status' value="1" title="是" checked='checked' />
                                <input type="radio" name="status" class='status' value="2" title="否" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="savedata_addbtn" id='savedata_addbtn'>提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
{/block}
{block name="footer"}
{include file='adminuser/adminuser_footer' /}
{/block}