{extend name="layout/main" /}
{block name="title"}管理后台--管理员列表{/block}
{block name="main"}
<body class="index">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style='height:10px;'></div>
            <div class="layui-row">
                <div class="layui-col-md12">
                    <button class="layui-btn layui-btn" onclick="adminuser_add()">新增管理员</button>
                    <button class="layui-btn layui-btn-danger" onclick="adminuser_del();">删除管理员</button>
                </div>
            </div>
            <div style='height:20px;'></div>
            {if count($list)<=0}
                <table class="layui-table layui-form" id="goods_table">
                    <tr>
                        <td style='text-align:center;'>暂无数据</td>
                    </tr>
                </table>
            {else /}
                <form class="layui-form" enctype="multipart/form-data" method="post" id='searchform'>
                    <div class="layui-row layui-form">
                        <div class="layui-col-md5">
                            <div class="layui-form-item">
                                <label class="layui-form-label">所属校区</label>
                                <div class="layui-input-block">
                                    <select name='school_id' class='school_id'>
                                        <option value='0'>全部</option>
                                        {volist name='school_list' id='vo'}
                                        <option value="{$vo.id}" {if $vo['id']==$search['school_id']}selected{/if}>{$vo.title}</option>
                                        {/volist}
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md5">
                            <div class="layui-form-item">
                                <label class="layui-form-label">关键词</label>
                                <div class="layui-input-block">
                                    <input type="text" id="keyword" name="keyword" placeholder="管理员账号/电话" autocomplete="off" class="layui-input keyword" value='{$search.keyword}'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <label class="layui-form-label"></label>
                        <span class="layui-btn" onclick="adminuser_search()">搜索</span>
                        <a style="margin-left:20px;" class="layui-btn layui-btn-normal" href="{:url('Adminuser/adminuser_list')}">刷新</a>
                    </div>
                </form>
                <div style='height:10px;'></div>
                <div class='layui-row'>
                    <table class="layui-table layui-form" id="goods_table">
                        <tr class='table_tr'>
                            <th style='min-width:20px;'><input type="checkbox" class="checkbox_all" lay-filter="choose_all" lay-skin="primary" class='goods_checkbox'></th>
                            <th>管理员所属</th>
                            <th>管理员账号</th>
                            <th>管理员角色</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        {volist name='$list' id='vo'}
                        <tr class='table_tr'>
                            <td style='min-width:20px;'><input type="checkbox" name="ids[]" lay-filter="choose_single" lay-skin="primary" class='goods_checkbox' value='{$vo.id}'></td>
                            <td>{$vo.admin_belong}</td>
                            <td>{$vo.username}</td>
                            <td>{$vo.admin_rolename}</td>
                            <td>{if $vo['status']==1}正常{else /}禁用{/if}</td>
                            <td>
                                {if $vo['status']==2}
                                <a class="layui-btn layui-btn-normal layui-btn-sm" onclick="adminuser_open({$vo.id})">启用</a>
                                {elseif $vo['status']==1}
                                <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="adminuser_close({$vo.id})">禁用</a>
                                {/if}
                                <a class="layui-btn layui-btn-warm layui-btn-sm" onclick="adminuser_edit({$vo.id})">修改</a>
                                <a class="layui-btn layui-btn-normal layui-btn-sm" onclick="adminuser_assign({$vo.id})">分配权限</a>
                                <a class="layui-btn layui-btn-warm layui-btn-sm" onclick="adminuser_cancelassign({$vo.id})">取消权限</a>
                            </td>
                        </tr>
                        {/volist}
                        <tr>
                            <td colspan="7" class='page_wrap'><span class='page_count'>共<font>{$count}</font>条记录</span>{$page|raw}</td>
                        </tr>
                    </table>
                </div>
            {/if}
        </div>
    </div>
</body>
{/block}
{block name="footer"}
<script type="text/javascript">
    function closealllayer(){
        layer.closeAll();
        window.location.reload();
    }
</script>
{include file='adminuser/adminuser_footer' /}
{/block}