<ul id="nav">
    {volist name='menu' id='vo'}
        <li>
            {if !empty($vo['item'])}
            <a href="javascript:void(0);">
                <i class="iconfont left-nav-li" lay-tips="{$vo.rule_title}"> <i class="fa {$vo.rule_class}"></i></i>
                <cite>{$vo.rule_title}</cite>
                <i class="iconfont nav_right"></i>
            </a>
            <ul class="sub-menu">
                {volist name='vo.item' id='vo2'}
                <li>
                    <a onclick="xadmin.add_tab('{$vo2.rule_title}','{$vo2.rule_url}')">
                        <i class="layui-icon layui-icon-right"></i>
                        <cite>{$vo2.rule_title}</cite>
                    </a>
                </li>
                {/volist}
            </ul>
            {else /}
            <a onclick="xadmin.add_tab('{$vo.rule_title}','{$vo.rule_url}')">
                <i class="iconfont left-nav-li" lay-tips="{$vo.rule_title}"> <i class="fa {$vo.rule_class}"></i></i>
                <cite>{$vo.rule_title}</cite>
                <i class="iconfont nav_right"></i>
            </a>
            {/if}
        </li>
    {/volist}
    <!-- <li>
        <a href="javascript:void(0);">
            <i class="iconfont left-nav-li" lay-tips="权限管理"> <i class="fa fa-sitemap"></i></i>
            <cite>权限管理</cite>
            <i class="iconfont nav_right"></i>
        </a>
        <ul class="sub-menu">
            <li>
                <a onclick="xadmin.add_tab('权限列表','{:url("Rule/rule_list")}')">
                    <i class="layui-icon layui-icon-right"></i>
                    <cite>权限列表</cite>
                </a>
            </li>
        </ul>
    </li> -->
</ul>