{extend name="layout/main" /}
{block name="title"}系统管理后台{/block}
{block name="main"}
<body class="index">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote" ><div class='welcome_note'>欢迎:<span class="x-red">管理员</span>-
                                <span class="x-red">{$info.username}</span>！当前日期:<span class="x-red" id='adminshowtime'>{$currenttime}</span><span class="x-red"> {$weektime}</span></div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{/block}
{block name="footer"}
    <script type="text/javascript">
        function showTime() {
            nowtime = new Date();
            year = nowtime.getFullYear();
            month = nowtime.getMonth() + 1;
            date = nowtime.getDate();
            //document.getElementById("adminshowtime").innerText = year + "年" + month + "月" + date + " " + nowtime.toLocaleTimeString();
            document.getElementById("adminshowtime").innerText = nowtime.toLocaleString('chinese',{hour12:false});
        }
        setInterval("showTime()", 1000);
    </script>
{/block}