{extend name="layout/main" /}
{block name="title"}管理后台--角色列表{/block}
{block name="main"}
<body class="index">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style='height:10px;'></div>
            <div class="layui-row">
                <div class="layui-col-md12">
                    <button class="layui-btn layui-btn" onclick="adminrole_add()">新增角色</button>
                    <button class="layui-btn layui-btn-danger" onclick="adminrole_del();">删除角色</button>
                </div>
            </div>
            <div style='height:20px;'></div>
            {if count($list)<=0}
                <table class="layui-table layui-form" id="goods_table">
                    <tr>
                        <td style='text-align:center;'>暂无数据</td>
                    </tr>
                </table>
            {else /}
                <form class="layui-form" enctype="multipart/form-data" method="post" id='searchform'>
                    <div class="layui-row">
                        <div class="layui-col-md5">
                            <div class="layui-form-item">
                                <label class="layui-form-label">关键词</label>
                                <div class="layui-input-block">
                                    <input type="text" id="keyword" name="keyword" placeholder="角色名称" autocomplete="off" class="layui-input keyword" value='{$search.keyword}'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <label class="layui-form-label"></label>
                        <span class="layui-btn" onclick="adminrole_search()">搜索</span>
                        <a style="margin-left:20px;" class="layui-btn layui-btn-normal" href="{:url('Adminrole/adminrole_list')}">刷新</a>
                    </div>
                </form>
                <div style='height:10px;'></div>
                <div class='layui-row'>
                    <table class="layui-table layui-form" id="goods_table">
                        <tr class='table_tr'>
                            <th style='min-width:20px;'><input type="checkbox" class="checkbox_all" lay-filter="choose_all" lay-skin="primary" class='goods_checkbox'></th>
                            <th>角色名称</th>
                            <th>角色归属</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        {volist name='$list' id='vo'}
                        <tr class='table_tr'>
                            <td style='min-width:20px;'><input type="checkbox" name="ids[]" lay-filter="choose_single" lay-skin="primary" class='goods_checkbox' value='{$vo.id}'></td>
                            <td>{$vo.role_title}</td>
                            <td>{$vo.role_belong}</td>
                            <td>{if $vo['role_status']==1}正常{else /}禁用{/if}</td>
                            <td>
                                {if $vo['role_status']==2}
                                <a class="layui-btn layui-btn-normal layui-btn-sm" onclick="adminrole_open({$vo.id})">启用</a>
                                {elseif $vo['role_status']==1}
                                <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="adminrole_close({$vo.id})">禁用</a>
                                {/if}
                                <a class="layui-btn layui-btn-warm layui-btn-sm" onclick="adminrole_edit({$vo.id})">修改</a>
                                <a class="layui-btn layui-btn-normal layui-btn-sm" onclick="adminrole_assign({$vo.id})">分配权限</a>
                                <a class="layui-btn layui-btn-warm layui-btn-sm" onclick="adminrole_cancelassign({$vo.id})">取消权限</a>
                            </td>
                        </tr>
                        {/volist}
                        <tr>
                            <td colspan="5" class='page_wrap'><span class='page_count'>共<font>{$count}</font>条记录</span>{$page|raw}</td>
                        </tr>
                    </table>
                </div>
            {/if}
        </div>
    </div>
</body>
{/block}
{block name="footer"}
<script type="text/javascript">
    layui.use(['laydate','form','table','upload'], function(){
        var laydate=layui.laydate;
        var table=layui.table;
        var form=layui.form;
        var upload=layui.upload;
    })

    function adminrole_add(){
        var url='{:url("Adminrole/adminrole_add")}';
        var title='添加角色';
        layer.open({
            type: 2,
            title:title,
            shadeClose: false,
            shade: 0.8,
            area: ['95%', '90%'],
            content: url, //iframe的url
            end:function () {
                location.reload()
            }
        });
    }

    function adminrole_edit(dataid){
        if(dataid>0){
            var url='{:url("Adminrole/adminrole_edit")}?roleid='+dataid;
            var title='修改角色';
            layer.open({
                type: 2,
                title:title,
                shadeClose: false,
                shade: 0.8,
                area: ['95%', '90%'],
                content: url, //iframe的url
                end:function () {
                    location.reload()
                }
            });
        }
    }

    function adminrole_assign(dataid){
        if(dataid>0){
            var url='{:url("Adminrole/adminrole_assign")}?roleid='+dataid;
            var title='分配权限';
            layer.open({
                type: 2,
                title:title,
                shadeClose: false,
                shade: 0.8,
                area: ['95%', '90%'],
                content: url, //iframe的url
                end:function () {
                    location.reload()
                }
            });
        }
    }

    function adminrole_cancelassign(dataid){
        if(dataid>0){
            layer.confirm('取消角色权限后,属于该角色的管理员将不再有权限操作相关内容,确定取消角色权限吗?',{icon:3,title:'操作提示'},function(index){
                var sindex=layer.load(1,{'time':3*1000});
                $.post("{:url('Adminrole/adminrole_cancelassign')}",{'roleid':dataid},function(data){
                    layer.msg(data.msg);
                    layer.close(sindex);
                    if(data.code==200){
                        setTimeout("window.location.reload();",2000);
                    }
                },'json')
                layer.close(index);
            })
        }
    }

    function adminrole_del(){
        var dataid='';
        $("[name='ids[]']:checked").each(function(){
            dataid+=$(this).val()+',';
        })
        dataid=$.trim(dataid);
        if(dataid!=''){
            layer.confirm('只有没有属于该角色的管理员才能删除，确定删除选中的角色吗?',{icon:3,title:'操作提示'},function(index){
                var sindex=layer.load(1,{'time':3*1000});
                $.post("{:url('Adminrole/adminrole_del')}",{'roleid':dataid},function(data){
                    layer.msg(data.msg);
                    layer.close(sindex);
                    if(data.code==200){
                        setTimeout("window.location.reload();",2000);
                    }
                },'json')
                layer.close(index);
            })
        }
    }

    function adminrole_open(dataid){
        if(dataid!=''){
            var sindex=layer.load(1,{'time':3*1000});
            $.post("{:url('Adminrole/adminrole_open')}",{'roleid':dataid},function(data){
                layer.msg(data.msg);
                layer.close(sindex);
                if(data.code==200){
                    setTimeout("window.location.reload();",2000);
                }
            },'json')
            layer.close(index);
        }
    }

    function adminrole_close(dataid){
        if(dataid!=''){
            layer.confirm('禁用角色后，属于该角色的管理员将不能登录，确定禁用角色吗?',{icon:3,title:'操作提示'},function(index){
                var sindex=layer.load(1,{'time':3*1000});
                $.post("{:url('Adminrole/adminrole_close')}",{'roleid':dataid},function(data){
                    layer.msg(data.msg);
                    layer.close(sindex);
                    if(data.code==200){
                        setTimeout("window.location.reload();",2000);
                    }
                },'json')
                layer.close(index);
            })
        }
    }

    function goods_search(){
        var url="{:url('Adminrole/adminrole_list')}";
        $('#searchform').attr('action',url).submit();
    }

</script>
{/block}