{extend name="layout/main" /}
{block name="title"}管理后台--添加权限{/block}
{block name="main"}
<body class="index">
    <div class="setting_form">
        <form class='layui-form dataform' enctype="multipart/form-data" method="post" id='goodsform'>
            <table class="layui-table">
                <tr>
                    <td class='td_right'><label class="layui-form-label">选择层级</label></td>
                    <td class='td_left'>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <select name="parentid">
                                    <option value="0">顶级</option>
                                    {volist name='parentlist' id='vo'}
                                    <option value="{$vo.id}">{$vo.rule_title}</option>
                                    {/volist}
                                </select>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">权限名称</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='rule_title' id="rule_title" placeholder="权限名称" autocomplete="off" class="layui-input rule_title" value='{$info.rule_title}' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">模块名称</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='rule_module' id="rule_module" placeholder="模块名称" autocomplete="off" class="layui-input rule_module" value='{$info.rule_module}' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">控制器名称</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='rule_controller' id="rule_controller" placeholder="控制器名称" autocomplete="off" class="layui-input rule_controller" value='{$info.rule_controller}' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">方法名称</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='rule_action' id="rule_action" placeholder="方法名称" autocomplete="off" class="layui-input rule_action" value='{$info.rule_action}' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">权限css样式类</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='rule_class' id="rule_class" placeholder="权限css样式类" autocomplete="off" class="layui-input rule_class" value='{$info.rule_class}' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">排序</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="number" name='rule_sort' id="rule_sort" placeholder="排序" autocomplete="off" class="layui-input rule_sort" value='{$goodsinfo.rule_sort}' />
                            <span class='inputnote_span'>(值越大排在越前)</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">是否菜单</label></td>
                    <td class='td_left'>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input type="radio" name="rule_ismenu" class='rule_ismenu' value="1" title="是" {if $info['rule_ismenu']==1}checked='checked'{/if}  />
                                <input type="radio" name="rule_ismenu" class='rule_ismenu' value="2" title="否" {if $info['rule_ismenu']==2}checked='checked'{/if}   />
                            </div>
                            <span class='inputnote_span'>(设置为菜单的权限，才会在分配权限后在左侧栏显示)</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <div class="layui-input-block">
                            <input type='hidden' name='ruleid' value="{$info.id}" />
                            <button class="layui-btn" lay-submit lay-filter="savedata_subbtn" id='savedata_subbtn'>提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
{/block}
{block name="footer"}
    <style>
        .mapsearch{padding-top:10px;}
        .amap-icon img, .amap-marker-content img {width:19px;height:33px;}
    </style>
    <script type="text/javascript">
        tinymce.init({
            'selector':'#goods_content',
            'language':'zh_CN',
            'width':'100%',
            'height':'350px',
            'resize':false,
            'plugins': 'print preview searchreplace autolink directionality visualblocks visualchars fullscreen uploadimage link media template code codesample table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount imagetools textpattern help powerpaste emoticons autosave',
            'toolbar':
                'code undo redo restoredraft | cut copy paste pastetext | forecolor backcolor bold italic underline strikethrough link anchor | alignleft aligncenter alignright alignjustify outdent indent | \
                styleselect formatselect fontselect fontsizeselect | bullist numlist | blockquote subscript superscript removeformat | \
                table uploadimage media charmap emoticons hr pagebreak insertdatetime print preview | fullscreen',
            'fontsize_formats': '12px 14px 16px 18px 24px 36px 48px 56px 72px',
            'font_formats': '微软雅黑=Microsoft YaHei,Helvetica Neue,PingFang SC,sans-serif;苹果苹方=PingFang SC,Microsoft YaHei,sans-serif;宋体=simsun,serif;仿宋体=FangSong,serif;黑体=SimHei,sans-serif;Arial=arial,helvetica,sans-serif;Arial Black=arial black,avant garde;Book Antiqua=book antiqua,palatino;Comic Sans MS=comic sans ms,sans-serif;Courier New=courier new,courier;Georgia=georgia,palatino;Helvetica=helvetica;Impact=impact,chicago;Symbol=symbol;Tahoma=tahoma,arial,helvetica,sans-serif;Terminal=terminal,monaco;Times New Roman=times new roman,times;Verdana=verdana,geneva;Webdings=webdings;Wingdings=wingdings,zapf dingbats;知乎配置=BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;小米配置=Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif',
            'template_cdate_format':'[CDATE: %m/%d/%Y : %H:%M:%S]',
            'template_mdate_format':'[MDATE: %m/%d/%Y : %H:%M:%S]',
            'image_caption': true,
            'upload_image_url':"{:url('merchant/upload/file_upload',array('type'=>'goods'))}"
        });
        $('#goodsform').bind('form-pre-serialize', function(event, form, options, veto) { tinyMCE.triggerSave(); });
    </script>
    <script type="text/javascript">
        layui.use(['laydate','form','table','upload'], function(){
            var laydate = layui.laydate;
            var table = layui.table;
            var form = layui.form;
            var upload=layui.upload;
            var uploadInst = upload.render({
                elem: '#goods_logo',
                auto:false,
                //bindAction:'#savedata_subbtn',
                choose: function(obj){
                    obj.preview(function(index, file, result){
                        $('#preimg_view').attr('src', result);
                    });
                }
            });
            form.on('submit(savedata_subbtn)', function(data){
                savedata();
                return false;
            });

        })

        //保存数据
        function savedata(){
            var sindex=layer.load(1,{time:5*1000});
            $('#goodsform').ajaxSubmit({
                url:"{:url('goods/goods_add')}",
                type:'post',
                dataType:'json',
                beforeSubmit: function(){
                    var goods_title=$.trim($('.goods_title').val());
                    var goods_price=$.trim($('.goods_price').val());
                    var goods_stock=$.trim($('.goods_stock').val());
                    if(goods_title==''){
                        layer.msg('请输入商品标题');
                        layer.close(sindex);
                        return false;
                    }
                    if(goods_price<=0){
                        layer.msg('请输入商品销售价');
                        layer.close(sindex);
                        return false;
                    }
                    if(goods_stock<0){
                        layer.msg('请输入商品库存');
                        layer.close(sindex);
                        return false;
                    }
                },
                success: function(data){
                    layer.close(sindex);
                    layer.msg(data.msg);
                    if(data.code==400){
                        return false;
                    }else if(data.code==200){
                        setTimeout("window.location.reload()",2000)
                    }
                }
            });
            return false;
        }

        function showgoods(){
            var dataid='';
            $("[name='goodsset_itemid[]']").each(function(){
                dataid+=$(this).val()+',';
            })
            //return false;
            var url="{:url('goods/goods_show')}?goods_type=1";
            if(dataid!=''){
                url+="&gid="+dataid;
            }
            layer.open({
                type: 2,
                title:'选择商品',
                shadeClose: false,
                shade: 0.8,
                area: ['95%', '90%'],
                content:url //iframe的url
            });
        }

        function cancelgoods(dataid){
            if(dataid>0){
                $('.goodsset_item'+dataid).remove();
            }
        }

        function setgoodsitem(str){
            $('.goodsset_main').append(str);
        }
    </script>
{/block}