{extend name="layout/main" /}
{block name="title"}管理后台--修改宽带套餐{/block}
{block name="main"}
<body class="index">
    <div class="setting_form">
        <form class='dataform layui-form' enctype="multipart/form-data" method="post" id='goodsform'>
            <table class="layui-table">
                <tr>
                    <td class='td_right'><label class="layui-form-label">宽带套餐标题<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='goods_title' id="goods_title" placeholder="宽带套餐标题" autocomplete="off" class="layui-input goods_title" value='{$info.goods_title}' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">宽带套餐封面<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block" style='position:relative;'>
                            <button type="button" class="layui-btn">
                                <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                            <input type="file" name="goods_img" id="goods_img" class="layui-btn shoplogo_file goods_img" accept="image/gif,image/jpeg,image/jpg,image/png" />
                            <div class='preimg_content'>{if $info['goods_img']!=''}<a href='{$info.goods_img}' target='_blank'><img class="layui-upload-img" id="preimg_view" src='{$info.goods_img}'></a>{else /}<img class="layui-upload-img" id="preimg_view">{/if}</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">宽带套餐价格<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="number" name='goods_price' id="goods_price" placeholder="宽带套餐价格" autocomplete="off" class="layui-input goods_price" value='{$info.goods_price}' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">宽带套餐详情</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <textarea name="goods_content" id='goods_content' placeholder="宽带套餐详情" class="layui-textarea goods_content">{$info.goods_content}</textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">是否上架<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="radio" name="goods_status" value="1" title="是" {if $info['goods_status']==1}checked{/if}>
                            <input type="radio" name="goods_status" value="2" title="否" {if $info['goods_status']==2}checked{/if}>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">排序</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="number" name='goods_sortby' id="goods_sortby" placeholder="宽带套餐排序" autocomplete="off" class="layui-input goods_sortby" value='{$info.goods_sortby}' />
                        </div>
                        <span class='inputnote_span'>(排序值越大排在越前)</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <div class="layui-input-block">
                            <input type="hidden" name="goodsid" value='{$info.id}' />
                            <button class="layui-btn" lay-submit lay-filter="savedata_editbtn" id='savedata_editbtn'>提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
{/block}
{block name="footer"}
    {include file='goods/goods_footer' /}
{/block}