{extend name="layout/main" /}
{block name="title"}管理后台--分配名医{/block}
{block name="main"}
<body class="index">
    <div class="setting_form">
        <form class='dataform layui-form' enctype="multipart/form-data" method="post" id='goodsform'>
            <table class="layui-table">
                <tr>
                    <td class='td_right'><label class="layui-form-label">选择名医<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <select name='doctor_id' class='doctor_id' lay-search>
                                {volist name='doctor_list' id='vo'}
                                <option value='{$vo.id}' {if $vo['id']==$info['doctor_id']}selected='selected'{/if}>{$vo.realname}</option>
                                {/volist}
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <div class="layui-input-block">
                            <input type="hidden" name="ordersid" value='{$info.id}' />
                            <button class="layui-btn" lay-submit lay-filter="savedata_assignbtn" id='savedata_assignbtn'>提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
{/block}
{block name="footer"}
    {include file='orders/orders_footer' /}
{/block}