<script type="text/javascript">
    layui.use(['laydate','form','table','upload'], function(){
        var laydate=layui.laydate;
        var table=layui.table;
        var form=layui.form;
        var upload=layui.upload;
        var uploadInst = upload.render({
            elem: '#img',
            auto:false,
            //bindAction:'#savedata_subbtn',
            choose: function(obj){
                obj.preview(function(index, file, result){
                    $('#preimg_view').attr('src', result);
                });
            }
        });
        form.on('submit(savedata_editbtn)', function(data){
            var url="{:url('Orders/orders_edit')}";
            savedata_edit(url);
            return false;
        });
        form.on('submit(savedata_setbtn)', function(data){
            var url="{:url('Orders/orders_setbroadband')}";
            savedata_setting(url);
            return false;
        });
        form.on('submit(savedata_settimebtn)', function(data){
            var url="{:url('Orders/orders_settime')}";
            savedata_settingtime(url);
            return false;
        });
        laydate.render({
            'elem':'#applytime_start',
            'trigger':'click',
            'type':'datetime',
            'value':''
        });
        laydate.render({
            'elem':'#applytime_end',
            'trigger':'click',
            'type':'datetime',
            'value':''
        });

    })

    function orders_detail(dataid){
        var url='{:url("Orders/orders_detail")}?ordersid='+dataid;
        var title='订单详情';
        layer.open({
            type: 2,
            title:title,
            shadeClose: false,
            shade: 0.8,
            area: ['95%', '90%'],
            content: url
        });
    }

    function orders_edit(dataid){
        var url='{:url("Orders/orders_edit")}?ordersid='+dataid;
        var title='修改宽带订单登记信息';
        layer.open({
            type: 2,
            title:title,
            shadeClose: false,
            shade: 0.8,
            area: ['95%', '90%'],
            content: url
        });
    }

    function savedata_edit(url){
        var sindex=layer.load(1,{time:5*1000});
        $('#goodsform').ajaxSubmit({
            url:url,
            type:'post',
            dataType:'json',
            beforeSubmit: function(){
                var realname=$.trim($('.realname').val());
                if(realname==''){
                    layer.close(sindex);
                    layer.msg('请输入姓名');
                    return false;
                }
                var mobile=$.trim($('.mobile').val());
                if(mobile==''){
                    layer.close(sindex);
                    layer.msg('请输入联系电话');
                    return false;
                }
                var idcardnum=$.trim($('.idcardnum').val());
                if(idcardnum==''){
                    layer.close(sindex);
                    layer.msg('请输入身份证号码');
                    return false;
                }
                var department=$.trim($('.department').val());
                if(department==''){
                    layer.close(sindex);
                    layer.msg('请输入院系');
                    return false;
                }
                var studentnumber=$.trim($('.studentnumber').val());
                if(studentnumber==''){
                    layer.close(sindex);
                    layer.msg('请输入学号');
                    return false;
                }
                var address=$.trim($('.address').val());
                if(address==''){
                    layer.close(sindex);
                    layer.msg('请输入宿舍地址');
                    return false;
                }
                var money=$.trim($('.money').val());
                if(money<=0){
                    layer.close(sindex);
                    layer.msg('请输入正确金额');
                    return false;
                }
            },
            success: function(data){
                layer.close(sindex);
                layer.msg(data.msg);
                if(data.code==400){
                    return false;
                }else if(data.code==200){
                    setTimeout("parent.closealllayer()",2000)
                }
            }
        });
        return false;
    }

    function orders_settime(dataid){
        var url='{:url("Orders/orders_settime")}?ordersid='+dataid;
        var title='设置宽带时间';
        layer.open({
            type: 2,
            title:title,
            shadeClose: false,
            shade: 0.8,
            area: ['95%', '90%'],
            content: url
        });
    }

    function savedata_settingtime(url){
        var sindex=layer.load(1,{time:5*1000});
        $('#goodsform').ajaxSubmit({
            url:url,
            type:'post',
            dataType:'json',
            beforeSubmit: function(){
                var applytime_start=$.trim($('.applytime_start').val());
                if(applytime_start==''){
                    layer.close(sindex);
                    layer.msg('请输入设置宽带生效开始时间');
                    return false;
                }
                var applytime_end=$.trim($('.applytime_end').val());
                if(applytime_end==''){
                    layer.close(sindex);
                    layer.msg('请输入设置宽带生效结束时间');
                    return false;
                }
            },
            success: function(data){
                layer.close(sindex);
                layer.msg(data.msg);
                if(data.code==400){
                    return false;
                }else if(data.code==200){
                    setTimeout("parent.closealllayer()",2000)
                }
            }
        });
        return false;
    }

    function orders_setbroadband(dataid){
        var url='{:url("Orders/orders_setbroadband")}?ordersid='+dataid;
        var title='设置宽带账号';
        layer.open({
            type: 2,
            title:title,
            shadeClose: false,
            shade: 0.8,
            area: ['95%', '90%'],
            content: url
        });
    }

    function savedata_setting(url){
        var sindex=layer.load(1,{time:5*1000});
        $('#goodsform').ajaxSubmit({
            url:url,
            type:'post',
            dataType:'json',
            beforeSubmit: function(){
                var keyaccount=$.trim($('.keyaccount').val());
                if(keyaccount==''){
                    layer.close(sindex);
                    layer.msg('请输入宽带账号');
                    return false;
                }
                var keypassword=$.trim($('.keypassword').val());
                if(keypassword==''){
                    layer.close(sindex);
                    layer.msg('请输入宽带密码');
                    return false;
                }
            },
            success: function(data){
                layer.close(sindex);
                layer.msg(data.msg);
                if(data.code==400){
                    return false;
                }else if(data.code==200){
                    setTimeout("parent.closealllayer()",2000)
                }
            }
        });
        return false;
    }

    function orders_getrandaccount(school_id){

        $.post("{:url('Index/getRandAccount')}",{'school_id':school_id},function(data){
            if(data.code==200){
                $('.keyaccount').val(data.data.data.keyaccount)
                $('.keypassword').val(data.data.data.keypassword);
            }else{
                layer.msg(data.msg);
            }
        },'json')
    }

    function orders_clearbroadband(dataid){
        if(dataid!=''){
            layer.confirm('确定清空订单的宽带信息吗?',{icon:3,title:'操作提示'},function(index){
                var sindex=layer.load(1,{'time':3*1000});
                $.post("{:url('Orders/orders_clearbroadband')}",{'ordersid':dataid},function(data){
                    layer.msg(data.msg);
                    layer.close(sindex);
                    if(data.code==200){
                        setTimeout("window.location.reload();",2000);
                    }
                },'json')
                layer.close(index);
            })
        }
    }

    function orders_search(){
        var url="{:url('Orders/orders_list')}?a=1";
        var school_id=$('.school_id').val();
        if(school_id!=''){
            url+='&school_id='+school_id;
        }
        var goods_id=$('.goods_id').val();
        if(goods_id!=''){
            url+='&goods_id='+goods_id;
        }
        var status=$('.status').val();
        if(status!=''){
            url+='&status='+status;
        }
        var orderno=$('.orderno').val();
        if(orderno!=''){
            url+='&orderno='+orderno;
        }
        var keyword=$('.keyword').val();
        if(keyword!=''){
            url+='&keyword='+keyword;
        }
        var applytime_start=$('.applytime_start').val();
        if(applytime_start!=''){
            url+='&applytime_start='+applytime_start;
        }
        var applytime_end=$('.applytime_end').val();
        if(applytime_end!=''){
            url+='&applytime_end='+applytime_end;
        }
        var promoter=$('.promoter').val();
        if(promoter!=''){
            url+='&promoter='+promoter;
        }
        window.location.href=url;
    }

    function orders_export(){
        var url="{:url('Orders/orders_export')}?a=1";
        var school_id=$('.school_id').val();
        if(school_id!=''){
            url+='&school_id='+school_id;
        }
        var goods_id=$('.goods_id').val();
        if(goods_id!=''){
            url+='&goods_id='+goods_id;
        }
        var status=$('.status').val();
        if(status!=''){
            url+='&status='+status;
        }
        var orderno=$('.orderno').val();
        if(orderno!=''){
            url+='&orderno='+orderno;
        }
        var keyword=$('.keyword').val();
        if(keyword!=''){
            url+='&keyword='+keyword;
        }
        var applytime_start=$('.applytime_start').val();
        if(applytime_start!=''){
            url+='&applytime_start='+applytime_start;
        }
        var applytime_end=$('.applytime_end').val();
        if(applytime_end!=''){
            url+='&applytime_end='+applytime_end;
        }
        var promoter=$('.promoter').val();
        if(promoter!=''){
            url+='&promoter='+promoter;
        }
        window.location.href=url;
    }

    function orders_del(dataid=''){
        if(dataid==''){
            $("[name='checkgoods[]']:checked").each(function(){
                dataid+=$(this).val()+',';
            })
        }
        dataid=$.trim(dataid);
        if(dataid==''){
            layer.msg('请选择需要删除的订单');
            return false;
        }
        if(dataid!=''){
            layer.confirm('确定删除选中的订单信息吗?',{icon:3,title:'操作提示'},function(index){
                var sindex=layer.load(1,{'time':3*1000});
                $.post("{:url('Orders/orders_del')}",{'ordersid':dataid},function(data){
                    layer.msg(data.msg);
                    layer.close(sindex);
                    if(data.code==200){
                        setTimeout("window.location.reload();",2000);
                    }
                },'json')
                layer.close(index);
            })
        }
    }

</script>