<!DOCTYPE html>
    <html class="pixel-ratio-3 retina ios ios-11 ios-11-0 ios-gt-10 ios-gt-9 ios-gt-8 ios-gt-7 ios-gt-6">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>{block name="title"}佛山南海天字通信{/block}</title>
            <meta name="keywords" content="佛山南海天字通信">
            <meta name="description" content="佛山南海天字通信">
            <meta name="viewport" content="initial-scale=1, maximum-scale=1">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-status-bar-style" content="black">
            <meta name="format-detection" content="telephone=no">
            <meta name="full-screen" content="yes">
            <meta name="x5-fullscreen" content="true">
            <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
            <script type="text/javascript" src="__STATIC__/js/swiper/js/swiper.min.js"></script>
            <link rel="stylesheet" type="text/css" href="__STATIC__/js/swiper/css/swiper.min.css">
            <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css" media="all" />
            <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
            <link rel="stylesheet" type="text/css" href="__INDEXSTATIC__/css/style.css?v={php}echo time();{/php}">
        </head>
        <body>
            {block name="header"}{/block}
            {block name="main"}{/block}
            {block name="footer"}{/block}
            <!-- <div class='cl' style='height:90px;width:100%;background-color:#f00'></div> -->
            <footer class='footer'>
                <div class='foot_wrap'>
                    <div class='foot_main'>
                    </div>
                </div>
            </footer>
        </body>
    </html>