{extend name="layout/main" /}
{block name="title"}管理后台--添加宽带账号{/block}
{block name="main"}
<body class="index">
    <div class="setting_form">
        <form class='dataform layui-form' enctype="multipart/form-data" method="post" id='goodsform'>
            <table class="layui-table">
                <tr>
                    <td class='td_right'><label class="layui-form-label">宽带账号<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='keyaccount' id="keyaccount" placeholder="宽带账号" autocomplete="off" class="layui-input keyaccount" value='' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">宽带密码</label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="text" name='keypassword' id="keypassword" placeholder="宽带密码" autocomplete="off" class="layui-input keypassword" value='' />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class='td_right'><label class="layui-form-label">是否启用<span class='musttip'>*</span></label></td>
                    <td class='td_left'>
                        <div class="layui-input-block">
                            <input type="radio" name="status" value="1" title="是" checked>
                            <input type="radio" name="status" value="2" title="否" >
                        </div>
                        <span class='inputnote_span'>(启用状态的账号才能被分配使用)</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="savedata_addbtn" id='savedata_addbtn'>提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
{/block}
{block name="footer"}
    {include file='broadband/broadband_footer' /}
{/block}